:host {
  flex: 1;
}
.flex-3 {
  flex: 3;
}
.flex-2 {
  flex: 2;
}
.flex-4 {
  flex: 4;
}
.flex-1 {
  flex: 1;
}
::ng-deep {
  .mat-expansion-indicator:after,
  .mat-expansion-panel-header-description {
    color: hsla(0, 0%, 100%, 0.7);
    display: none;
  }
  .tbl {
    .mat-expansion-panel {
      border-radius: 0;
      background: transparent;
      box-shadow: none !important;

      &-header {
        height: auto !important;
        padding: 0;
        border-radius: 31px;
        border: 1px solid #8e8e8e;
        background: #fff;
        margin-bottom: 20px;
      }
    }

    .mat-expansion-panel-body {
      padding: 0;
    }

    .mat-expanded .row-arrow {
      transform: rotate(90deg);
    }
  }
}
.tbl {
  padding: 10px 30px;

  .flex {
    color: #3e3e3e;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    line-height: 24px;
    height: 65px;
    align-items: center;
    padding: 0 10px;
    display: flex;
  }
  .ml-left90 {
    margin-left: 90px;
  }
  .header {
    font-weight: 700;

    input {
      padding: 10px 0 10px 25px;
      border-radius: 31px;
      border: 1px solid #8e8e8e;
      width: 100%;
    }
    .flex-4 {
      justify-content: space-between;
      align-items: center;
    }
  }

  .row {
    width: 100%;

    span:last-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.arabalar {
  table {
    font-family: "Quicksand", sans-serif;
    margin: auto;
    text-align: center;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow: hidden;
    width: 95%;

    thead {
      background-color: rgba(54, 157, 82, 0.5);
      height: 3.125rem;

      tr {
        th {
          color: #fff;
          font-size: 0.9375rem;
          vertical-align: middle;
          font-weight: 600;
        }
      }
    }

    tbody {
      background-color: #fff;

      tr {
        background: #f9fbfc;
        border-top: 1px solid #1e325c;
        border-bottom: 1px solid #1e325c;
        .createAppointment {
          a {
            color: rgb(195, 60, 60);
            cursor: pointer;
            border: 1px solid rgb(195, 60, 60);
            display: flex;
            width: 116px;
            margin: auto;
            text-align: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            &:hover {
              background-color: rgb(195, 60, 60);
              color: #fff;
            }
          }
        }
        td {
          padding: 5px;
          border: 1px solid #dedddb;
          vertical-align: middle;
          color: #696974;
        }
      }
    }
  }
}
.my-custom-scrollbar {
  position: relative;
  max-height: 300px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.action-button {
  border: 1px solid rgba(54, 157, 82, 0.5);
  background-color: rgba(54, 157, 82, 0.5);
  padding: 5px 10px;
  color: #000;
  font-family: "Quicksand", sans-serif;
  border-radius: 31px;
  cursor: pointer;
  line-height: 25px;
  float: right;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
