<header>
    <div class="flex">

  
      <nav>
        <!-- <a href="javascript:void(0)">Biz Kimiz ?</a>
        <a href="javascript:void(0)">SSS</a>
        <a href="javascript:void(0)">
          <mat-icon>mail_outline</mat-icon>
          <span>İletişim</span>
        </a>
  
        <a href="javascript:void(0)">
          <mat-icon>notifications_none</mat-icon>
          <span class="notif-count"></span>
          <span>Bildirimler</span>
        </a> -->
        <a href="javascript:void(0)">OTO GARAGE</a>
      </nav>
  
    </div>
  </header>
  