header {
    background-color: #fff;
  }
  
  
  .flex {
    justify-content: center;
    padding-left: 80px;
    align-items: center;
    height: 80px;
    display: flex;
    overflow: hidden;
  }
  
  nav {
    display: flex;
  
    a {
      color: #3e3e3e;
      padding: 0 20px;
      font-weight: 700;
      font-size: 40px;
      font-family: cursive;
      letter-spacing: 0.9px;
      line-height: 80px;
      display: flex;
      align-items: center;
      text-decoration: none;
      position: relative;
      margin-right: 20px;
    }

  }
  