<div class="cards" routerLink="/musteriler">
    <div class="card">
        <img src="assets/user.png">
        <div class="container">
          <h4><b>Müşteriler</b></h4> 
          <p>Toplam Müşteri Sayısı : {{customerCount}} </p> 
        </div>
    </div>
    
    <div class="card"  routerLink="/araclar">
        <img src="assets/vehicle.png">
        <div class="container">
          <h4><b>Araçlar</b></h4> 
          <p>Toplam Araç Sayısı : {{vehicleCount}}</p> 
        </div>
    </div>
    
</div>

<div class="cards"  routerLink="/randevular">
    <div class="card">
        <img src="assets/appionment.webp">
        <div class="container">
          <h4><b>Randevular</b></h4> 
          <p>Açık Randevu Sayısı : {{appiontmentCount}} </p> 
        </div>
    </div>
    
    <div class="card"  routerLink="/is-emirleri">
        <img src="assets/workOrder.png">
        <div class="container">
          <h4><b>İş Emirleri</b></h4> 
          <p>İş Emri Sayısı : {{workOrderCount}}</p> 
        </div>
    </div>
</div>
