<div class="border">
  <form *ngIf="!gsmControl" [formGroup]="vehicleOwner" (ngSubmit)="onFormOwnerSubmit()">
    <div class="customer">
      <div class="double">
        <div class="input-item flex-column">
          <label for="">Müşteri Telefon Numarası Giriniz</label>
          <input type="text" placeholder="5xx xxx xx xx" formControlName="ownerGsm">
        </div>
      </div>
    </div>
    <div class="approve">
      <button class="send kaydet" type="submit" matRipple>İlerle</button>
    </div>

  </form>
  <form *ngIf="gsmControl" [formGroup]="vehicleForm" (ngSubmit)="onFormSubmit()">
    <div class="title">Müşteri Bilgileri</div>
    <div class="customer">
      <div class="double">
        <div>
          <div class="input-item">
            <div class="label mr-3"><strong> Müşteri Adı: </strong>
              <span>{{userInfo[0].name}} {{userInfo[0].surname}} </span>
            </div>
            <div class="label"> <strong>  Müşteri Mail: </strong>
              <span>{{userInfo[0].mail}} </span>
            </div>
          </div>
        </div>
      </div>

      <div class="input-item">
        <div class="label mr-3"> <strong> Müşteri Telefon: </strong>
          <span>{{userInfo[0].gsm}} </span>
        </div>
      </div>
    </div>
    <div class="title">Araç Bilgileri</div>
    <div class="customer">
      <div class="double">
        <div>
          <div class="input-item">
            <div class="label mr-3">Araç Plakası
              <input type="text" placeholder="34 ABC 34" formControlName="plate">
            </div>
            <div class="label">Araç Markası
              <input type="text" placeholder="Toyota" formControlName="brand">
            </div>
          </div>
        </div>
      </div>

      <div class="input-item">
        <div class="label mr-3">Araç Modeli
          <input type="text" placeholder="Corolla" formControlName="carModel">
        </div>
        <div class="label">Araç Model Yılı
          <input onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" type="text" maxlength="4" placeholder="2013" formControlName="modelYear">
        </div>
      </div>
    </div>


    <div class="approve">
      <button class="send kaydet cancel" type="button" (click)="gsmControl=false">Vazgeç</button>
      <button class="send kaydet" type="submit" matRipple>Ekle</button>
    </div>
  </form>
</div>